<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<title> Alexandra Tarchila</title>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
		
<head>
	<title>Spring Security Tutorial</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<table>
<tr><td><center><p th:text="${userName}" /></center></td>
<tr><td><img th:src="@{/images/smile.jpg}" class="img-responsive center-block" width="600" height="600" alt="family" /></td></tr>
<tr><td><a href = "/doctor/viewSchedule">View schedule</a></td></tr>
<tr><td><a href = "/doctor/addNewPacient">addNewPacient</a></td></tr>
<tr><td><a href = "/doctor/viewPacients">viewPacients</a></td></tr>
</table></body>
</html>