<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<title> Alexandra Tarchila
	</title>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	
<head>
	<title>Spring Security Tutorial</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 	
</head>

<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="logout.html">Logout</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href = "/doctor/addNewPacient">Add new pacient</a></li>
              <li class="active"><a href = "/doctor/viewPacients">viewPacients</a>/li>
              <li class="active"><a href = "/doctor/viewSchedule">View schedule</a></li>
             
            </ul>
          </div>
     </div> 
   </div>
   <br>
   <br>
   <br>
   <br>
  
<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/doctor/editPacient}"
					th:object="${editPacient}" method="post" class="form-horizontal"
					role="form">
					<h2>Edit pacient</h2>
					 <div class="form-group">
						<div class="col-sm-9">
						<input type="hidden" th:field="*{id}" placeholder="${editPacient.id}"
								class="form-control" /> 
						</div>
					</div>
				   <div class="form-group">
						<div class="col-sm-9">
							<label th:text="CNP" ></label>
						<input type="text" th:field="*{cnp}" placeholder="${editPacient.cnp}"
								class="form-control" /> 
						</div>
					</div>
	               <div class="form-group">
						<div class="col-sm-9">
							<label th:text="IdentityCard" ></label>
						<input type="text" th:field="*{identityCard}" placeholder="${editPacient.identityCard}"
								class="form-control" /> 
						</div>
					</div>
	               	<div class="form-group">
						<div class="col-sm-9">
							<label th:text="firstName" ></label>
						<label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
								class="validation-message"></label>
						<input type="text" th:field="*{firstName}" placeholder="${editPacient.firstName}"
								class="form-control" /> 
						</div>
					</div>
	                <div class="form-group">
						<div class="col-sm-9">
							<label th:text="LastName" ></label>
						<label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
								class="validation-message"></label>
						<input type="text" th:field="*{lastName}" placeholder="lastName"
								class="form-control" /> 
						</div>
					</div>
					   <div class="form-group">
						<div class="col-sm-9">
							<label th:text="state" ></label>
						<input type="text" th:field="*{state}" placeholder="state"
								class="form-control" /> 
						</div>
					</div>
					   <div class="form-group">
						<div class="col-sm-9">
							<label th:text="city" ></label>
						<input type="text" th:field="*{city}" placeholder="city"
								class="form-control" /> 
						</div>
					</div>
					   <div class="form-group">
						<div class="col-sm-9">
							<label th:text="address" ></label>
						<input type="text" th:field="*{address}" placeholder="address"
								class="form-control" /> 
						</div>
					</div>
					   <div class="form-group">
						<div class="col-sm-9">
							<label th:text="birthdate" ></label>
						<input type="text" th:field="*{birthDate}" placeholder="birthDate"
								class="form-control" /> 
						</div>
					</div>
					  <div class="form-group">
						<div class="col-sm-9">
							<label th:text="email" ></label>
						<input type="text" th:field="*{email}" placeholder="email"
								class="form-control" /> 
						</div>
					</div>
					  <div class="form-group">
						<div class="col-sm-9">
							<label th:text="phone" ></label>
						<input type="text" th:field="*{phone}" placeholder="phone"
								class="form-control" /> 
						</div>
					</div>
					   <div class="form-group">
						<div class="col-sm-9">
							<label th:text="active" ></label>
						<input type="text" th:field="*{active}" placeholder="active"
								class="form-control" /> 
						</div>
					</div>
					   <div class="form-group">
						<div class="col-sm-9">
							<label th:text="cas" ></label>
						<input type="text" th:field="*{cas}" placeholder="cas"
								class="form-control" /> 
						</div>
					</div>
					 <div class="form-group">
						<div class="col-sm-9">
							<label th:text="details" ></label>
						<input type="text" th:field="*{details}" placeholder="details"
								class="form-control" /> 
						</div>
					</div>
					 <div class="form-group">
						<div class="col-sm-9">
							<label th:text="suggestedDate" ></label>
						<input type="text" th:field="*{suggestedDate}" placeholder="suggestedDate"
								class="form-control" /> 
						</div>
					</div>
					 <div class="form-group">
						<div class="col-sm-9">
							<label th:text="suggestedTreatment" ></label>
						<input type="text" th:field="*{suggestedTreatment}" placeholder="suggestedTreatment"
								class="form-control" /> 
						</div>
					</div>
									
					<div class="form-group">
						<div class="col-sm-9">
						
							<button type="submit" class="btn btn-primary btn-block">Edit Pacient</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>
					
					
				</form>
			</div>
		</div>
	</div>
<br>
<br>
<br>
<br>

	 <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
          <div class="navbar-header">
    </div></div></div>
    </body>
    </html>