<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<title> Alexandra Tarchila
	</title>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	
<head>
	<title>Spring Security Tutorial</title>
	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />   
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="../logout">Logout</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href = "/doctor/addNewPacient">Add new pacient</a></li>
              <li class="active"><a href = "/doctor/viewPacients">viewPacients</a>/li>
              <li class="active"><a href = "/doctor/viewSchedule">View schedule</a></li>
            </ul>
          </div>
     </div> 
 </div>
   <br>
   <br>
   <br>
   <br>
 
 <img th:src="@{/images/kid.jpg}" class="img-responsive center-block"  />
   
<div>
		
<table class="box-table-a">
 <tr>
  <th scope="col">CNP</th>
  <th scope="col">First Name</th>
  <th scope="col">Last Name</th>
 </tr>
    <th:block th:each="Pacient : ${viewVisitResults}">  
    <tr>
     <td th:text="${Pacient.cnp}"> CNP </td> 
     <td th:text="${Pacient.firstName}"> First Name</td> 
     <td th:text="${Pacient.lastName}"> Last Name</td>
     </tr>
     </th>
 </table>  
    
<table class="box-table-a">
<tr>
  <th scope="col">Date of visit</th>
  <th scope="col">Result</th>
  <th scope="col">Doctor id</th>
  
 </tr>
   <th:block th:each="Pacient : ${viewVisitResults}">  
    <th:block th:each="Result : ${Pacient.results}"> 
    <tr>
     <td th:text="${Result.dateVisit}"> dateVisit</td>
     <td th:text="${Result.descr}"> Result</td> 
       <th:block th:each="Doctor : ${Result.doctorRes}"> 
        <td th:text="${Doctor.firstName}"> Name</td> 
     
    </tr>
    </th>
    </th>
  </table>  
      
</div>
</div>
</div></table>
  <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
          <div class="navbar-header">
    </div></div></div>
    <br> <br> <br> <br> <br>
</body>
</html>