<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<title> Alexandra Tarchila
	</title>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	
	
<head>
	<title>Spring Security Tutorial</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 	
</head>
<body>
Pacienti inregistrati:

<table border =1>
  <tr><td >CNP</td> 
        <td >First Name</td> 
        <td >Last Name</td> 
        <td >Active</td> 
        <td >Details</td>
        <td> Edit pacient </a></td>   </tr>
        
<th:block th:each="Pacient : ${listAll}">
 		<tr><td th:text="${Pacient.id}"> ID </td> 
        <tr><td th:text="${Pacient.cnp}"> CNP </td> 
        <td th:text="${Pacient.firstName}"> First Name</td> 
        <td th:text="${Pacient.lastName}"> Last Name</td> 
        <td th:text="${Pacient.active}">Active</td> 
        <td th:text="${Pacient.details}">Details</td>
        <td>  <a th:href="@{editPacient(id=${Pacient.id})}">Edit pacient</a></td>  
       
        <td>  <a th:href="@{viewVisitResults(id=${Pacient.id})}">View visit results</a></td>  
        <td>  <a th:href="@{addVisitResult(id=${Pacient.id})}">Add visit result</a></td>  
        
        
      </tr>
     </th:block>
</table>
</body>
</html>
