<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<title> Alexandra Tarchila
	</title>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	
	
<head>
	<title>Spring Security Tutorial</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 	
</head>

<body>



<table>
<tr>
<td><center><p th:text="${userName}" /></center></td>
<tr><td>
   		<img th:src="@{/images/smile.jpg}" class="img-responsive center-block" width="600" height="600" alt="family" />
	</td></tr>
<tr><td><button class="btn btn-primary btn-block" name="Add" value="Add" type="Add user">View dentists</button></td></tr>
<tr><td><button class="btn btn-primary btn-block" type="Add user">Edit dentists</button></td></tr>
<tr><td><button class="btn btn-primary btn-block" type="Add user">Add dentists</button>
</td></tr>
</tr>
  </table>
  
</body>
</html>