<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<title> Alexandra Tarchila
	</title>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

	
<head>
	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 	
</head>
<body>

 <div class="navbar navbar-inverse navbar-fixed-top">
       <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="../logout">Logout</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
           <li class="active"><a href = "/helpdesk/addAppointment">Add appointment</a></li>
              <li class="active"><a href = "/helpdesk/viewScheduleAll">View Schedule</a></li>
              <li class="active"><a href = "/helpdesk/viewMaterials">View materials</a></li>
              <li class="active"><a href = "/helpdesk/addMaterials">Add material</a></li>
              <li class="active"><a href = "/helpdesk/helpDesk">Help Desk</a></li>
            
            </ul>
          </div>
     </div> 
   </div>
   <br>
   <br>
  <img th:src="@{/images/doctor.jpg}" class="img-responsive center-block"/>
   <div class="container">
    <div layout:fragment="content">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "fragments/header.html" at runtime.                                     -->
        <!-- ============================================================================ -->
        <h1>Cabinetul stomatologic ATDent</h1>
        <p>Va pune la dispozitie servicii complete si moderne de stomatologie: de la simple plombe pana la implanturi dentare, chirurgie, estetica dentara si aparate ortodontice.
      </p>  <p>
        Cu o experienta de peste 10 ani, echipa noastra de medici stomatologi specialisti va garanteaza calitatea si profesionalismul tratamentelor de orice natura prin folosirea de echipamente moderne, de ultima generatie, tratamente stomatologice care contribuie la mentinerea sanatoasa si frumoasa a dintilor.
Echipa noastra de medici stomatologi specialisti va sta la dispozitie intr-un mediu calm si relaxant.

        <div th:text="${execInfo.now.time}"></div>
        </p>
      </div></div>
          
<div>


<table class="box-table-a" >
  <tr>
  <th scope="col">CNP</th>
  <th scope="col">First Name</th>
  <th scope="col">Last Name</th>
  <th scope="col">Active</th>
  <th scope="col">State</th>
  <th scope="col">City</th>
  <th scope="col">Address</th>
  <th scope="col">BirthDate</th>
  <th scope="col">Email</th>   
  <th scope="col">Phone</th>   
  <th scope="col">Suggested Date</th>  
   <th scope="col">Suggested treatment</th>  
 </tr>

<th:block th:each="Pacient : ${findPacientsSuggestedDate}">
 		<tr><td th:text="${Pacient.cnp}"> CNP </td> 
        <td th:text="${Pacient.firstName}"> First Name</td> 
        <td th:text="${Pacient.lastName}"> Last Name</td> 
        <td th:text="${Pacient.active}">Active</td> 
        <td th:text="${Pacient.state}">State</td>
        <td th:text="${Pacient.city}">City</td>
        <td th:text="${Pacient.address}">Address</td>
        <td th:text="${Pacient.birthDate}">BirthDate</td>
        <td th:text="${Pacient.email}">email</td>  
        <td th:text="${Pacient.phone}">Phone</td>
        <td th:text="${Pacient.suggestedDate}">suggestedDate</td>
        <td th:text="${Pacient.suggestedTreatment}">suggestedTreatment</td>
       </tr>
     </th:block>
</table>
<br><br><br><br><br>

 <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
          <div class="navbar-header">
    </div></div></div>
 
</body>
</html>