<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<title> Alexandra Tarchila</title>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
		
<head>
	<title>Spring Security Tutorial</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
       <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="logout.html">Logout</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
           <li class="active"><a href = "/helpdesk/addAppointment">Add appointment</a></li>
              <li class="active"><a href = "/helpdesk/viewScheduleAll">View Schedule</a></li>
              <li class="active"><a href = "/helpdesk/viewMaterials">View materials</a></li>
              <li class="active"><a href = "/helpdesk/addMaterials">Add material</a></li>
              <li class="active"><a href = "/helpdesk/helpDesk">Help Desk</a></li>
               </ul>
          </div>
     </div> 
   </div>
    <br> 
    <img th:src="@{/images/team.jpg}" class="img-responsive center-block"   />
    <br>      
 
  <div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for material descr" title="Type in a name">

<table class="box-table-a" id= "myTable">
<tr>
  <th scope="col">Descr</th>
  <th scope="col">Active</th>
 </tr>
   
<th:block th:each="Material : ${viewMaterials}">
  <tr>
        <td th:text="${Material.details}"> details</td> 
        <td th:text="${Material.active}"> active</td> 
        <td th:hidden="${Material.id}"> active</td> 
  <td>  <a th:href="@{editMaterials(id=${Material.id})}">edit</a></td>  
  </tr>
</table>
  	</div>	</div></div>				
<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>

<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">Copyright 2018  Alexandra Tarchila
   </div>
   </div>
 </div>
 
</body>
</html>