<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<title> Alexandra Tarchila</title>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
		
<head>
	<title>Spring Security Tutorial</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for material descr" title="Type in a name">
<table border =1 id="myTable">
  <tr>  <td >descr</td> 
        <td >active</td>
      
   </tr>
   
<th:block th:each="Material : ${viewMaterials}">
        <td th:text="${Material.details}"> details</td> 
         <td th:text="${Material.active}"> active</td> 
  <td th:text="${Material.id}"> active</td> 
  <td>  <a th:href="@{editMaterials(id=${Material.id})}">edit</a></td>  
     
</table>
  	

<tr><td><a href = "/helpdesk/viewScheduleAll">View schedule</a></td></tr>
					
<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>

</body>

</html>