
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Registration Form</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="../logout">Logout</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href = "registration">Add new user</a></li>
              <li class="active"><a href = "admin/addUser">Add new doctor</a></li>
              <li class="active"><a href = "admin/viewUsers">View doctors</a></li>
             
            </ul>
          </div>
     </div> 
   </div>
   <br>
   <br>
   <br>
   <br>
	
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/registration}"
					th:object="${user}" method="post" class="form-horizontal"
					role="form">
					<h2>Registration Form</h2>
										<div class="form-group">
						<div class="col-sm-9">First Name
						<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="validation-message"></label>
						<input type="text" th:field="*{name}" placeholder="FirstName"
								class="form-control" /> 
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">Last Name
						<label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
								class="validation-message"></label>
							<input type="text" th:field="*{lastName}"
								placeholder="Last Name" class="form-control" /> 
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">Email
						<label
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message"></label>
							<input type="text" th:field="*{email}" placeholder="Email"
								class="form-control" /> 
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">Password
						 <label
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="validation-message"></label>
							<input type="password" th:field="*{password}"
								placeholder="Password" class="form-control" />
						</div>
					</div>
				
					<div class="form-group">
					<div class="col-sm-9">User
							
				<select class="form-control"  th:field="${role.id}" >
				   <option th:value="1" th:utext="ADMIN"/>
                   <option th:value="2" th:utext="USER"/>
                   <option th:value="3" th:utext="HELPDESK"/>
				
                                    </select>	
	          </div>
			</div>
			
					
					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Register User</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>
					
					
				</form>
			</div>
		</div>
	</div>
<div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
          <div class="navbar-header">
    </div></div></div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    
</body>
</html>